* {
    align-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
    position: relative;
    text-align: center;
    align-items: center;
    height: 100vh;
    display: inline-block;
    justify-content: center;

}
input {
    outline: thin;
    border: thin;
}
input:focus {
    outline-style: solid;
    outline-color: #f24e1e;

}
.centered {
    position: relative;
    align-content: center;
}